<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pelikula.WINUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pelikula.WINUI.Properties.Settings>
            <setting name="ApiURL" serializeAs="String">
                <value>http://localhost:5001/api</value>
            </setting>
            <setting name="ResizedImageWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="ResizedImageHeight" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="CroppedImageWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CroppedImageHeight" serializeAs="String">
                <value>120</value>
            </setting>
        </Pelikula.WINUI.Properties.Settings>
    </applicationSettings>
</configuration>